.header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
}

.searchWrapper {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    border-radius: 8px;
    padding: 0 12px;
    background-color: rgba(246, 246, 248, 1);
}

.searchWrapper input {
    flex: 1;
    border: none;
    outline: none;
    height: 32px;
    background-color: rgba(246, 246, 248, 1);
    font-size: 14px;
    padding-left: 12px;
    color: rgba(112, 113, 118, 1);
    border-radius: 8px;
}

.searchWrapper button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
}

.layoutToggle {
    display: flex;
    width: 73px;
    height: 32px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(246, 246, 248, 1);
    flex-shrink: 0;
}

.layoutToggle button {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
    background-color: rgba(246, 246, 248, 1);
}

.layoutToggle button::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 28px;
    background-color: #fff;
    right: -1px;
    z-index: 1;
}

.layoutToggle button.active {
    color: rgba(24, 144, 255, 1);
}

.selectWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 32px;
    background-color: rgba(244, 244, 246, 1);
    border-radius: 8px;
}

.selectInput {
    --input-height: 22px;
    --input-size: 22px;
    --input-bg: rgb(255, 255, 255) !important;
    --input-placeholder-color: rgba(0, 0, 0, 0.85) !important;
    --input-padding-inline-end: 28px;
    width: 232px !important;
    border: none !important;
    border-radius: 4px !important;
}

@media (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        height: auto;
        gap: 8px;
    }

    .selectWrapper {
        width: 100%;
    }

    .layoutToggle {
        flex-shrink: 0;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 8px;
    }

    .selectWrapper {
        width: 100%;
    }
}
