.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 256px;
}

.filterContainer {
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.filterContainer::after {
    position: absolute;
    content: '';
    width: calc(100% - 32px);
    height: 1px;
    background-color: rgba(240, 240, 240, 1);
    bottom: 56px;
    left: 16px;
}

.filterTitle {
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    margin-bottom: 10px;
}

.dropdownMenu {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    margin-bottom: 8px;
}

.arrow {
    margin-left: auto;
}

.arrowClosed {
    transform: rotate(-180deg);
    transition: transform 0.2s;
}

.categoriesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
}

.categoriesCheckbox {
    border-radius: 2px !important;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer !important;
}

.checkboxLabel {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
    cursor: pointer !important;
}

.checkboxBody {
    display: flex;
    align-items: center;
}

.checkboxInner {
    width: auto !important;
    height: auto !important;
}

.filterReset {
    width: 100%;
    background-color: #fff;
    border: none;
    height: 40px;
    color: rgba(132, 131, 136, 1);
    font-size: 14px;
    line-height: 100%;
    border-radius: 8px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .filter {
        min-width: unset;
        width: 100%;
    }
}
