.adsListPage {
    padding: 1px 0;
    background-color: rgba(247, 245, 248, 1);
    min-height: 100vh;
    min-height: 100dvh;
}

.inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 32px;
}

.adsTitle {
    font-weight: 500;
    margin: 0;
    margin-top: 24px;
    font-size: 22px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.adsValue {
    font-size: 18px;
    color: rgba(132, 131, 136, 1);
    margin: 0;
    margin-bottom: 28px;
}

.adsListContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 10px;
}

.adsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

@media (max-width: 768px) {
    .adsListPage {
        padding: 1px 16px;
    }

    .adsListContainer {
        flex-direction: column;
        gap: 0;
    }

    .adsWrapper {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .adsListPage {
        padding: 1px 8px;
    }

    .adsTitle {
        font-size: 18px;
    }

    .adsValue {
        font-size: 14px;
        margin-bottom: 16px;
    }
}
